# Ignore Python virtual environment
venv/

# Ignore database files
*.db

# Ignore other common Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment configuration files
.env

# Ignore migrations folder
migrations/